{% extends "base.html" %}
{% block content %}
<div class="topics">
        <h2>Economy</h2>
</div>
        <nav class="topic">
                <div cass="topicContent">
                        <a>
                                <h3>Agriculture</h3>
                                <div class="topic-text">
                                       <p>The agricultral sector of the economy is small part of it, and often relies upon government subsidies.</p>
                                </div>
                        </a>


{% endblock %}

