<!DOCTYPE html>
<html>
	<head>
		<script src="../static/js/base.js"></script>
		<link rel ="stylesheet" href ="{{ url_for('static', filename='css/base.css') }}" type ="text/css">
	</head>
	<body>
	<header>
		<a href="http://146.176.251.152:5000" title="Go to homepage">
			<img src="{{ url_for('static', filename='img/gov.jpg')  }}" alt="logo">
		</a>
	</header>
	<div class="navBar">
		<nav class ="mainNavBar">
		<ul id="topMenu">
			<li>
                        <a href="{{ url_for('government') }}">Government</a>
                        </li>
			<li>
                        <a href="{{ url_for('departments') }}">Departments</a>
                        </li>
			<li>
                        <a href="{{ url_for('topics') }}">Topics</a>
                        </li>
			<li>
                        <a href="{{ url_for('news') }}">News</a>
                        </li>
			<li style="float:left;">
			<a href="{{ url_for('covid') }}">Coronavirus(COVID-19)</a>
                        </li>
		</ul>
		</nav>
	</div>	
	<main class="content">
	
		{% block content %} {% endblock %}
	
	</main>

	<br></br>
	<footer>
		<h3><span> GOV.NP </span></h3>
	</footer>
	</body>
</html>
