{% extends "base.html" %}
{% block content %}
<div class="departments">
        <h2>Departments</h2>
</div>
        <nav class="department">
                <div cass="departmentContent">
                        <a>
                                <h3>Government Cabinet</h3>
                                <div class="department-text">
                                       <p>The Cabinet is formed of elected officials selected by the incumbent governemnt for the various chair positions of government departments.
				       The President chairs the cabinet.</p>
                                </div>
                        </a>


{% endblock %}

