{% extends "base.html" %}
{% block content %}
<div class="covid">
	<h2> Coronavirus </h2>
        <div class="covidContent">
		<h3>Measures</h3> 
		<p> Persons going into the workplace must take weekly tests to avoid the spread of the virus.</p>

		<hr>

		<h3>Testing</h3>
		<p> Persons aged 12 and over must show a negative PCR or lateral flow test before arrivnf at the North Pole.
		The tests must be taken 2 days before your arrival</p>

		<hr>

		<h3>Isolation</h3>
		<p>If you are in contact with a perosn infected with COVID-19 you must isolate for 10 days, 
		however if fully vaccinated this can be for only 2 days pending a negative test. 
		If you are in conatc with a person infected with the Omicron variant must isolat  fore 10 days, regardless of age or vacciantion status.
		</p>

		<hr>

		<h3>Booster vaccines</h3>
        	<p> Vunerable persons can now apply for a boostervaccine 6 months after there second dose.</p>

		<hr>

		<h3>International travel</h3>
        	<p> Countries with cases of the new Omicron variant have been placed onto the blacklist for incoming international travel.
		The follwoig are the latest  additions: Australia, Austria, Belgium, Botswana, Brazil, Canada, Czech Republic, Denmark, France, Germany, Hong Kong,
		Israel, Italy, Japan, Netherlands, Nigeria, Norway, Portugal, Saudi Arabia, South Africa, South Korea, Spain, Sweden, United Kingdom and:wq: United States</p>
		
		<hr>

		<h3>Staying Safe</h3>
        	<p> Masks remain mandatory in all busineses and workplaces, with only selected recreation activiites exempted.</p>

	</div>
</div>
{% endblock %}
