{% extends "base.html" %}
{% block content %}

<div class="topics">
        <h2>Environment</h2>
        <nav class="topicContent">
                <ul>
                        <li class="topicNav">
                                <a href="{{ url_for('climate') }}">
                                        <div class="topicContent">
                                                <h3>Climate Change</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('fauna') }}">
                                        <div class="topicContent">
                                                <h3>Fauna</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('flora') }}">
                                        <div class="topicContent">
                                                <h3>Flora</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('habitat') }}">
                                        <div class="topicContent">
                                                <h3>Nature & Habitat</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('waterManagement') }}">
                                        <div class="topicContent">
                                                <h3>Water Management</h3>
                                        </div>
                                </a>
                        </li>
	</nav>
</div>

{% endblock %}

