{% extends "base.html" %}
{% block content %}

<div class="gov">
        <h2> Government </h2>
        <div class="govContent">
                <h3>President</h3>
                <p> Head offial elected by the people independant of the regular representative elections</p>

                <hr>

                <h3>Cabinet</h3>
                <p> The selected representatives appointed to chair the various departments within the government</p>

		<hr>

		<h3>Representatives</h3>
                <p> Elected offcials to represent districts, and the people within, in the North Pole</p>
	</div>
</div>

{% endblock %}

