{% extends "base.html" %}
{% block content %}
<div class="news">
        <h2>News</h2>
</div>
        <nav class="newsStory">
                <div cass="story">
                        <a>
                                <h3>Newest COVID-19 measures with the return of work</h3>
                                <div class="news-text">
                                       <p>With Christmas Day soon on the horizon, measures have been put into place to ensure cases remain low with the increased work hours to prepare for Christams day.
				       These incude such thinsg as barriers in the workshops as well as one-way systems in the workshops.</p>
                                </div>
                        </a>


{% endblock %}

