{% extends "base.html" %}
{% block content %}

<div class="news">
	<h2>News</h2>
	<nav class="newsblock">
		<div class="story">
                        <a href="{{ url_for('newMeasures') }}">
                                <h3>Newest COVID-19 measures with the return of work</h3>
                                <div class="news-text">
                                        <p>With Christmas Day soon on the horizon, measures have been put into place to ensure cases remain low with the increase work hours...</p>
                                </div>
                        </a>
                </div>
                <div class="story">
                        <a href="{{ url_for('grinchPolice') }}">
                                <h3>The Grinch killed while in police custody</h3>
                                <div class="news-text">
                                        <p>An Investiagtion is underway into the police force follwing the death of the Grinch whiel in police custody, with further reforms being called...</p>
                                </div>
                        </a>
                </div>
                <div class="story">
                        <a href="{{ url_for('risingSeaLevels') }}">
                                <h3>Rising sea levels putting homes under threat.</h3>
                                <div class="news-text">
                                        <p>Climate change is putting further homes under threat with rising sea levels and melting of ice within the North Pole...</p>
                                </div>
                        </a>
		</div>

		<div class="story">
                        <a href="{{ url_for('importShortages') }}">
                                <h3>Shortages in imported supplies</h3>
                                <div class="news-text">
                                        <p>Current shortages in imported supplies that are needed for worlds presents...</p>
                                </div>
                        </a>
                </div>
                <div class="story">
                        <a href="{{ url_for('cop26') }}">
                                <h3>COP26 Representatives demand more action</h3>
                                <div class="news-text">
                                        <p>Representatives from the North Pole call for more action from nations at COP26 meeting...</p>
                                </div>
                        </a>
                </div>
                <div class="story">
                        <a href="{{ url_for('blitzen') }}">
                                <h3>Blitzen injures leg on mock run</h3>
                                <div class="news-text">
                                        <p>Blitzen has inujred their leg during a mock Christmas run and will need to rest for 2 weeks...</p>
                                </div>
                        </a>
                </div>

	</nav>
</div>

{% endblock %}

