{% extends "base.html" %}
{% block content %}

<div class="topics">
        <h2>Transport</h2>
        <nav class="topicContent">
                <ul>
                        <li class="topicNav">
                                <a href="{{ url_for('railway') }}">
                                        <div class="topicContent">
                                                <h3>Rail network and travel</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('license') }}">
                                        <div class="topicContent">
                                                <h3>Driving & vehicle licenses</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('roads') }}">
                                        <div class="topicContent">
                                                <h3>Road maintenence</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('ecoFriendly') }}">
                                        <div class="topicContent">
                                                <h3>Eco-friendly travel</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('boating') }}">
                                        <div class="topicContent">
                                                <h3>Boating</h3>
                                        </div>
                                </a>
                        </li>
                        <li class="topicNav">
                                <a href="{{ url_for('aviation') }}">
                                        <div class="topicContent">
                                                <h3>Aviation</h3>
                                        </div>
                                </a>
                       </li>
	</nav>
</div>

{% endblock %}

