html{
	font-family: verdana;
	text-decoration: none;
}
h1,h2,h3{
	font-weight: normal;
}
header a{
	display: inline;
	flex-wrap: wrap;
	margin-left: 100px;
}
header{
	margin-bottom: 15px;
}

hr {
	margin-left: 150px;
	margin-right: 150px;
	background-color: #88001b;
	height: 5px;
}
#logo {
	width: 400px;
        height: 60px;
}
#clock{
	color:white;
	background-color: #88001b;
	float: right;
	margin: 0;
	margin-right:150px;
	padding: 17px;
	font-family: helvetica;
	font-size: 22px;
}
.navBar ul{
	font-family: helvetica;
	list-style: none;
	flex-wrap: wrap;
	margin: 0px;
	padding: 10px;
	padding-left: 150px;
	padding-right: 150px;
	overflow: hidden;
        min-height: 30px;
        background-color: #035b1c;

}
#covidNav{
	float: left;
}
.navBar li {
	float: right;
	padding-right:15px;
	padding-left: 15px;
	overflow: hidden;
}
.navBar li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
}
.navBar li a:hover{
	text-decoration:underline;
}
.homepage{
	display: block;
}
.homepage h2{
	background-color:#88001b;
	font-family: verdana;
	font-size: 35px;
	color: white;
	margin: 0;
	margin-bottom: 60px;
	padding: 27px;
	padding-left: 175px;
}
.homepage ul{
	display:flex;
	align-items:flex-start;
	flex-basis: 100%;
	flex-wrap:wrap;
	max-width: 1200px;
	list-style-type: none;
	text-decoration: none;
	margin: auto;
	padding: 0;
	margin-bottom: 87px;
}
.homepage li{
	flex-grow:0;
	flex-shrink: initial;
	flex-basis:25%;
	max-width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	text-decoration:none;
}
.homepage a{
	align-items:flex-start;
	text-decoration: none;
	color: #035b1c;
}
.homepage h3 {
	color: #035b1c;
	text-decoration: none;
	font-size: 26px;
	margin-bottom: 12px;
}
.homepage p {
	text-decoration: none;
	font-size: 18px;
	margin-top:0px;
}
.homepage h3:hover{
	text-decoration: underline;
}

.newsblock{
	display:flex;
        align-items:flex-start;
        flex-basis: 100%;
        flex-wrap:wrap;
        max-width: 1200px;
        list-style-type: none;
        text-decoration: none;
        margin: auto;
        padding: 0;
}
.news{
	display: block;
}
.newsblock {
	margin-bottom: 150px;
}
.story{
	flex-grow:0;
        flex-shrink: initial;
        flex-basis:25%;
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        text-decoration:none;
}
.news h2{
	margin-bottom: 30px;
	padding: 15px;
	font-size: 31px;
	background-color:#88001b;
        font-family: verdana;
        color: white;
        margin: 0;
        margin-bottom: 60px;
        padding: 20px;
        padding-left: 175px;

}
.news h3{
	color: #035b1c;
        text-decoration: none;
        font-size: 24px;
        margin-bottom: 10px;
}
.news h3:hover{
	text-decoration: underline;
}
.news a {
	color: #035b1c;
	text-decoration: none;
}
.news p{
	text-decoration: none;
        font-size: 17px;
	color: #035b1c;
	margin-bottom:40px;
}
.newsStory {
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
	margin-bottom:500px;
        text-decoration:none;	
}
.newsStory h3 {
	color: #035b1c;
        text-decoration: none;
        font-size: 27px;
        margin-bottom: 10px;
}
.newsStory p {
	text-decoration: none;
        font-size: 20px;
        color: #035b1c;
        margin-bottom:40px;
}
.topic h3{
	color: #035b1c;
        text-decoration: none;
        font-size: 30px;
        margin-bottom: 35px;
	margin-left: 150px
}
.topic p{
	text-decoration: none;
        font-size: 20px;
        color: #035b1c;
	margin-left: 50px;
        margin-bottom:530px;
}
.department h3 {
	color: #035b1c;
        text-decoration: none;
        font-size: 30px;
        margin-bottom: 35px;
        margin-left: 150px
}
.department p{
	text-decoration: none;
        font-size: 20px;
        color: #035b1c;
        margin-left: 50px;
        margin-bottom:530px;
}
.topic-list a{
	text-decoration: none;
	margin: 15px;
	 color: #035b1c;
	 font-size: 20px;
}
.topic-list a:hover{
	text-decoration: underline;
}
.topic-list h2{
	margin-bottom: 30px;
        padding: 15px;
        font-size: 31px;
        background-color:#88001b;
        font-family: verdana;
        color: white;
        margin: 0;
        margin-bottom: 60px;
        padding: 20px;
        padding-left: 175px;
}
.topic-list h3{
	margin-left: 175px;
	color: #035b1c;
        text-decoration: underline;
        font-size: 25px;
        margin-bottom: 10px;	
}
.topic-list ul{
	display:flex;
        align-items:flex-start;
        flex-basis: 100%;
        flex-wrap:wrap;
        max-width: 1200px;
        list-style-type: none;
        text-decoration: none;
        margin: auto;
        padding: 0;
        margin-bottom: 87px;

}
.topic-list li{
	flex-grow:0;
        flex-shrink: initial;
        flex-basis:25%;
        max-width: 25%;
        padding: 30px;
        margin: auto;
        text-decoration:none;
}
.topics a {
	text-decoration: none;
}

.topics h2{	
margin-bottom: 30px;
        padding: 15px;
        font-size: 31px;
        background-color:#88001b;
        font-family: verdana;
        color: white;
        margin: 0;
        margin-bottom: 60px;
        padding: 20px;
        padding-left: 175px;
}

.topics h3 {
        color: #035b1c;
        font-size: 28px;
        margin-bottom: 10px;
}
.topicContent ul {

	display:flex;
        align-items:flex-start;
        flex-basis: 100%;
        flex-wrap:wrap;
        max-width: 1200px;
        list-style-type: none;
        text-decoration: none;
        margin: auto;
        padding: 0;
        margin-bottom: 150px;
}

.topicContent li {
	flex-grow:0;
        flex-shrink: initial;
        flex-basis:25%;
        max-width: 25%;
        padding: 30px;
        margin: auto;
	margin-bottom:20px;
        text-decoration:none;
	color: #035b1c;
}
.topicContent h3:hover{
        text-decoration: underline;
}

.departments h2{
 	margin-bottom: 30px;
        padding: 15px;
        font-size: 31px;
        background-color:#88001b;
        font-family: verdana;
        color: white;
        margin: 0;
        margin-bottom: 60px;
        padding: 20px;
        padding-left: 175px;
}
.departments h3:hover{
	text-decoration: underline;
}

.departments a{
	text-decoration:none;
}
.departments ul{
	display:flex;
        align-items:flex-start;
        flex-basis: 100%;
        flex-wrap:wrap;
        max-width: 1200px;
        list-style-type: none;
        text-decoration: none;
        margin: auto;
        padding: 0;
        margin-bottom: 87px;
}

.departments li {
	flex-grow:0;
        flex-shrink: initial;
        flex-basis:25%;
        max-width: 25%;
        padding: 30px;
        margin: auto;
        text-decoration:none;
}
.departments h3 {
	text-decoration: none;
        margin: 20px;
         color: #035b1c;
         font-size: 27px;
}
.covid h2 {
 margin-bottom: 30px;
        padding: 15px;
        font-size: 31px;
        background-color:#88001b;
        font-family: verdana;
        color: white;
        margin: 0;
        margin-bottom: 60px;
        padding: 20px;
        padding-left: 175px;
}

.covid h3 {
	text-decoration: none;
	margin: 15px;
       	margin-left:150px; 
        color: #035b1c;
        font-size: 27px;
}

.covid p {
	text-decoration: none;
        margin: 15px;
	margin-left:150px;
	margin-right: 150px;
	margin-bottom: 50px;
        color: #035b1c;
        font-size: 20px;
}
.gov {
	margin-bottom:175px;
}
.gov h2{
        padding: 15px;
        font-size: 31px;
        background-color:#88001b;
        font-family: verdana;
        color: white;
        margin: 0;
        margin-bottom: 80px;
        padding: 20px;
        padding-left: 175px;
}

.gov h3 {
	text-decoration: none;
        margin: 15px;
	margin-top:50px;
        margin-left:150px;
        color: #035b1c;
        font-size: 27px;
}

.gov p {
	text-decoration: none;
        margin: 15px;
        margin-left:150px;
        margin-right: 150px;
        margin-bottom: 50px;
        color: #035b1c;
        font-size: 20px;
}

.footer-body{
	background-color:  #035b1c;
	display: block;
	height; 50px;
	margin-top: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
}
footer h3{
	color: white;
	text-align: right;
	margin: 0px;
}
footer span{
	background-color:#88001b;
	padding: 15px;
}
.cookie-banner {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #88001b;
}
.error h2 {
	margin: 40px;
	text-align: center;
	color: #88001b;
	padding: 20px;
	font: verdana;
	font-size: 80px;
}
.error p{
	text-align: center;
	color: #035b1c;
	font-size: 30px;
	font: helvetica;
}
