html{
	font-family: verdana;
}
h1,h2,h3{
	font-weight: normal;
}
#logo{
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 60px;
	margin-left: 100px;
	margin-bottom: 15px;
	margin-top: 0px;
	padding: 0px;
}
.navBar ul{
	font-family: helvetica;
	list-style: none;
	flex-wrap: wrap;
	margin: 0px;
	padding: 10px;
	padding-left: 150px;
	padding-right: 150px;
	overflow: hidden;
        min-height: 30px;
        background-color: #035b1c;

}
#covidNav{
	float: left;
}
.navBar li {
	float: right;
	padding-right:15px;
	padding-left: 15px;
	overflow: hidden;
}
.navBar li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
}
.navBar li a:hover{
	text-decoration:underline;
}
.homrpage{
	display: block;
}
.homepage h2{
	background-color:#88001b;
	font-family: verdana;
	font-size: 35px;
	color: white;
	margin: 0;
	padding: 20px;
	padding-left: 175px;
}
.homepage ul{
	display:flex;
	align-items:flex-start;
	flex-basis: 100%;
	flex-wrap:wrap;
	max-width: 1200px;
	list-style-type: none;
	text-decoration: none;
	margin: auto;
	padding: 0;
}
.homepage li{
	flex-grow:0;
	flex-shrink: initial;
	flex-basis:25%;
	max-width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	text-decoration:none;
}
.homepage a{
	align-items:flex-start;
	text-decoration: none;
	color: #035b1c;
}
.homepage h3 {
	color: #035b1c;
	text-decoration: none;
	font-size: 26px;
	margin-bottom: 12px;
}
.homepage p {
	text-decoration: none;
	font-size: 17px;
	margin-top:0px;
}
.homepage h3:hover{
	text-decoration: underline;
}
footer{
	min-height:30px;
	color: white;
	float: right;
	padding: 10px;
	background-color:#88001b;
	margin-bottom: 0px;
}

